<template id="agitadmin-images-field">
    <div class="images-field">
        <input type="file" multiple accept="image/*">

        <div class="thumbs"></div>

        <div class="add box">
            <span class="fa fa-plus"></span>
        </div>
    </div>

    <div class="thumb box processing">
        <div class="image">
            <div class="spinner"></div>
            <canvas class="preview" height="80" width="80"></canvas>
        </div>

        <div class="ops">
            <span class="fa fa-search enlarge" title="{{ t("show large preview") }}"></span>
            <span class="fa fa-rotate-right rotate" title="{{ t("rotate right by 90 degrees") }}"></span>
            <span class="fa fa-remove remove" title="{{ t("remove image") }}"></span>
        </div>
    </div>

    <div class="large-image">
        <img src="" alt="">
    </div>
</template>
